# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
env/
.venv/
ENV/

# Django
*.sqlite3
local_settings.py
*.log
media/
staticfiles/

# Environment
.env

# IDEs / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

